html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Helvetica;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Reset margins and paddings on most elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

/* Removes discs from ul */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  outline: none;
}

button {
  border-radius: 0;
  padding: 0.75em 1em;
  background-color: white;
}

/* noscript styles */
noscript {
  display: block;
  margin-bottom: 1em;
  margin-top: 1em;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: 0;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    margin: 0 10%  0 10%;
  }
}

@media (min-width: 1026px) and (max-width: 1280px) {
  .container {
    margin: 0 10%  0 10%;
  }
}

@media (min-width: 1281px) {
  .container {
    margin: 0 10%  0 10%;
  }
}

.hero-image {
  background-image: url(https://images.unsplash.com/photo-1518954588695-59b8deeb40b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-image span {
  text-align: center;
}

.hero-image img {
  margin-top: 4em;
  background-color: rgba(255, 255, 255, 0.555);
}

@media (min-width: 482px) and (max-width: 767px) {
  .hero-image img {
    width: 12em;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hero-image img {
    width: 14em;
  }
}

@media (min-width: 1026px) and (max-width: 1280px) {
  .hero-image img {
    width: 16em;
  }
}

@media (min-width: 1281px) {
  .hero-image img {
    width: 18em;
  }
}

.hero-banner-text {
  color: #444444;
  margin-top: 2em;
  background-color: rgba(255, 255, 255, 0.555);
  padding: 0.5rem;
}

@media (min-width: 482px) and (max-width: 767px) {
  .hero-banner-text {
    font-size: 1.3em;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hero-banner-text {
    font-size: 1.4em;
  }
}

@media (min-width: 1026px) and (max-width: 1280px) {
  .hero-banner-text {
    font-size: 1.5em;
  }
}

@media (min-width: 1281px) {
  .hero-banner-text {
    font-size: 1.6em;
  }
}

.credit {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.6rem;
  padding: 0.1rem;
}

.top_contact {
  background-color: #cc9b81;
  width: 100%;
  height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 1.1rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top_contact a {
  color: white;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .top_contact {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .top_contact a {
    padding-right: 2em;
  }
}

@media (min-width: 1026px) and (max-width: 1280px) {
  .top_contact {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .top_contact a {
    padding-right: 2em;
  }
}

@media (min-width: 1281px) {
  .top_contact {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .top_contact a {
    padding-right: 2em;
  }
}

nav {
  background-color: #fff;
  font-family: sans-serif;
  height: 60px;
  font-size: 1.2rem;
}

nav .container {
  margin: 0;
}

nav .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav .container ul a {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 482px) and (max-width: 767px) {
  nav #nav-icon3 {
    display: none;
  }
  nav .container ul a {
    color: #444444;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  nav #nav-icon3 {
    display: none;
  }
  nav .container ul a {
    color: #444444;
  }
}

@media (min-width: 1026px) and (max-width: 1280px) {
  nav #nav-icon3 {
    display: none;
  }
  nav .container ul a {
    color: #444444;
    padding-right: 4em;
  }
}

@media (min-width: 1281px) {
  nav #nav-icon3 {
    display: none;
  }
  nav .container ul a {
    color: #444444;
    padding-right: 5em;
  }
}

.nav-list {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: #444444;
  height: 100%;
  position: absolute;
  right: 0;
  top: 4.9em;
  padding: 0em;
  line-height: 4rem;
  -webkit-transition: 300ms ease-in;
  transition: 300ms ease-in;
  z-index: 1;
}

.nav-list li {
  display: none;
}

@media (min-width: 482px) and (max-width: 767px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: inherit;
    line-height: inherit;
    background-color: transparent;
  }
  .nav-list li {
    display: block;
    color: #444444;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: inherit;
    line-height: inherit;
    background-color: transparent;
  }
  .nav-list li {
    display: block;
    color: #444444;
  }
}

@media (min-width: 1026px) and (max-width: 1280px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: inherit;
    line-height: inherit;
    background-color: transparent;
  }
  .nav-list li {
    display: block;
    color: #444444;
  }
}

@media (min-width: 1281px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: inherit;
    line-height: inherit;
    background-color: transparent;
  }
  .nav-list li {
    display: block;
    color: #444444;
  }
}

.slideNav {
  width: 0;
}

@media (min-width: 482px) and (max-width: 767px) {
  .slideNav {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .slideNav {
    width: 100%;
  }
}

@media (min-width: 1026px) and (max-width: 1280px) {
  .slideNav {
    width: 100%;
  }
}

@media (min-width: 1281px) {
  .slideNav {
    width: 100%;
  }
}

.nav img {
  width: 70%;
}

@media (min-width: 482px) and (max-width: 767px) {
  .nav img {
    width: 90%;
    padding-left: 1em;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .nav img {
    width: 100%;
    padding-left: 1em;
  }
}

@media (min-width: 1026px) and (max-width: 1280px) {
  .nav img {
    width: 100%;
    padding-left: 1em;
  }
}

@media (min-width: 1281px) {
  .nav img {
    width: 100%;
    padding-left: 1em;
  }
}

footer {
  background-color: #444444;
  padding: 1rem;
  margin-top: 1.5rem;
}

.footer-main-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "l c" "s s";
}

.footer-sub-wrapper {
  display: -ms-grid;
  display: grid;
  text-align: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-sub-wrapper h4 {
  font-size: 1.1rem;
  color: #444444;
  padding: 0.6em;
  color: white;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .footer-sub-wrapper h4 {
    font-size: 1.4em;
  }
}

@media (min-width: 1026px) and (max-width: 1280px) {
  .footer-sub-wrapper h4 {
    font-size: 1.4em;
  }
}

@media (min-width: 1281px) {
  .footer-sub-wrapper h4 {
    font-size: 1.6em;
  }
}

.footer-sub-wrapper p {
  color: #fff6d6;
  font-size: 0.9rem;
}

.footer-sub-wrapper p a {
  color: #fff6d6;
}

@media (min-width: 482px) and (max-width: 767px) {
  .footer-sub-wrapper p {
    font-size: 1em;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .footer-sub-wrapper p {
    font-size: 1.1em;
  }
}

@media (min-width: 1026px) and (max-width: 1280px) {
  .footer-sub-wrapper p {
    font-size: 1.2em;
  }
}

@media (min-width: 1281px) {
  .footer-sub-wrapper p {
    font-size: 1.4em;
  }
}

.social {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: s;
  margin-top: 1rem;
}

.social img {
  width: 15%;
}

@media (min-width: 482px) and (max-width: 767px) {
  .social img {
    width: 10%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .social img {
    width: 10%;
  }
}

@media (min-width: 1026px) and (max-width: 1280px) {
  .social img {
    width: 12%;
  }
}

@media (min-width: 1281px) {
  .social img {
    width: 6%;
  }
}

.location {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: l;
}

.contact {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: c;
}

.copyright {
  background-color: #111111;
  color: #aaaaaa;
  font-size: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3em;
}

.copyright a {
  color: #f1f1b7;
}

@media (min-width: 482px) and (max-width: 767px) {
  .copyright {
    font-size: 0.8rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .copyright {
    font-size: 0.9rem;
  }
}

@media (min-width: 1026px) and (max-width: 1280px) {
  .copyright {
    font-size: 1rem;
  }
}

@media (min-width: 1281px) {
  .copyright {
    font-size: 1.2rem;
  }
}

* {
  margin: 0;
  padding: 0;
}

#nav-icon3 {
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  margin-top: 0.2em;
  display: block;
  position: absolute;
  height: 8px;
  width: 100%;
  background: #cc9b81;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon 3 */
#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 12px;
}

#nav-icon3 span:nth-child(4) {
  top: 24px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.gallery-sub-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  text-align: center;
  margin-top: 1.5rem;
  grid-row-gap: 1rem;
}

.gallery-sub-wrapper h2 {
  font-size: 1.1rem;
  color: #444444;
  padding: 0.6em;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .gallery-sub-wrapper {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .gallery-sub-wrapper h2 {
    font-size: 1.4em;
  }
}

@media (min-width: 1026px) and (max-width: 1280px) {
  .gallery-sub-wrapper {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .gallery-sub-wrapper h2 {
    font-size: 1.4em;
  }
}

@media (min-width: 1281px) {
  .gallery-sub-wrapper {
    -ms-grid-columns: 1fr  1fr 1fr;
        grid-template-columns: 1fr  1fr 1fr;
  }
  .gallery-sub-wrapper h2 {
    font-size: 1.6em;
  }
}

.gallery-image {
  width: 9.5em;
  height: 9.5em;
  -webkit-box-shadow: #cacaca 2px 2px 2px;
          box-shadow: #cacaca 2px 2px 2px;
}

@media (min-width: 482px) and (max-width: 767px) {
  .gallery-image {
    width: 16em;
    height: 14em;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .gallery-image {
    width: 12em;
    height: 10em;
  }
}

@media (min-width: 1026px) and (max-width: 1280px) {
  .gallery-image {
    width: 15em;
    height: 13em;
  }
}

@media (min-width: 1281px) {
  .gallery-image {
    width: 22em;
    height: 20em;
  }
}

.gallery-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.brand-main-wrapper {
  text-align: center;
  margin-top: 1.5rem;
}

.brand-main-wrapper h2 {
  font-size: 1.1rem;
  color: #444444;
  padding: 0.6em;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .brand-main-wrapper h2 {
    font-size: 1.4em;
  }
}

@media (min-width: 1026px) and (max-width: 1280px) {
  .brand-main-wrapper h2 {
    font-size: 1.4em;
  }
}

@media (min-width: 1281px) {
  .brand-main-wrapper h2 {
    font-size: 1.6em;
  }
}

.brand-sub-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-row-gap: 1rem;
}

@media (min-width: 482px) and (max-width: 767px) {
  .brand-sub-wrapper {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .brand-sub-wrapper {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1026px) and (max-width: 1280px) {
  .brand-sub-wrapper {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1281px) {
  .brand-sub-wrapper {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.service-main-wrapper {
  text-align: center;
  margin-top: 1.5rem;
}

.service-main-wrapper h2 {
  font-size: 1.1rem;
  color: #444444;
  padding: 0.6em;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .service-main-wrapper h2 {
    font-size: 1.4em;
  }
}

@media (min-width: 1026px) and (max-width: 1280px) {
  .service-main-wrapper h2 {
    font-size: 1.4em;
  }
}

@media (min-width: 1281px) {
  .service-main-wrapper h2 {
    font-size: 1.6em;
  }
}

.service-sub-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.service-sub-wrapper h4 {
  font-size: 0.8rem;
  border: #cc9b81 2px dotted;
  padding: 0.4rem;
  margin: 0.4rem;
  color: #50361e;
}

@media (min-width: 482px) and (max-width: 767px) {
  .service-sub-wrapper h4 {
    font-size: 1em;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .service-sub-wrapper h4 {
    font-size: 1.1em;
  }
}

@media (min-width: 1026px) and (max-width: 1280px) {
  .service-sub-wrapper h4 {
    font-size: 1.2em;
  }
}

@media (min-width: 1281px) {
  .service-sub-wrapper h4 {
    font-size: 1.4em;
  }
}

.scrollTop {
  width: 30px;
  height: 30px;
  background-color: #cc9b81;
  border-radius: 3px;
  color: #444444;
  font-weight: bold;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 99;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  -webkit-transition: 300ms;
  transition: 300ms;
  display: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.432) 0px 0px 20px;
          box-shadow: rgba(0, 0, 0, 0.432) 0px 0px 20px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .scrollTop {
    width: 35px;
    height: 35px;
  }
}

@media (min-width: 1026px) and (max-width: 1280px) {
  .scrollTop {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 1281px) {
  .scrollTop {
    width: 40px;
    height: 40px;
  }
}

.scrollTop:hover {
  background-color: #bd8364;
  color: white;
}

.stickySocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 2.8em;
  height: 6em;
  background-color: white;
  border-radius: 3px;
  position: fixed;
  bottom: 18em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.329) 0px 0px 30px;
          box-shadow: rgba(0, 0, 0, 0.329) 0px 0px 30px;
  -webkit-transform: translateX(-2.8em);
          transform: translateX(-2.8em);
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stickySocial img {
  width: 2em;
}
/*# sourceMappingURL=main.css.map */