footer {
    background-color: $secondary-color;
    padding: 1rem;
    margin-top: $margin-top;
}

.footer-main-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "l c"
    "s s";
}

.footer-sub-wrapper {
    display: grid;
    text-align: center;
    align-items: flex-start;

    h4 {
        @include heading;
        color: white;

        
        @include media($sm...) {
            font-size: 1.4em;
         }
         @include media($md...) {
            font-size: 1.4em;
         }
         @include media($lg...) {
            font-size: 1.6em;
         }
    }

    p {
        color: #fff6d6;
        font-size: 0.9rem;

        a {
            color: #fff6d6 ;
        }

        @include media($xs-L...) {
            font-size: 1em;
         }
        @include media($sm...) {
            font-size: 1.1em;
         }
         @include media($md...) {
            font-size: 1.2em;
         }
         @include media($lg...) {
            font-size: 1.4em;
         }
    }
}

.social {
    grid-area: s;

    img {
        width: 15%;

        @include media($xs-L...) {
            width: 10%;
         }
        @include media($sm...) {
            width: 10%;
         }
         @include media($md...) {
            width: 12%;
         }
         @include media($lg...) {
            width: 6%;
         }
    }
    margin-top: 1rem;
}

.location {
    grid-area: l;
}

.contact {
    grid-area: c;
}

.copyright {
    background-color: rgb(17, 17, 17);
    color: rgb(170, 170, 170);
    font-size: 0.7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3em;

    a {
        color: rgb(241, 241, 183);
    }

    @include media($xs-L...) {
        font-size: 0.8rem;
     }
    @include media($sm...) {
        font-size: 0.9rem;
     }
     @include media($md...) {
        font-size: 1rem;
     }
     @include media($lg...) {
        font-size: 1.2rem;
     }
}