.container {
    margin: 0;


    @include media($sm...) {
       @include container;
    }
    @include media($md...) {
        @include container;
       
    }
    @include media($lg...) {
        @include container;
       
    }
}

.hero-image {
    background-image: url(/images/heroImg.jpg);
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    display: grid;
    justify-content: center;

    span {
        text-align: center;
    }

    img {
        margin-top: 4em;
        background-color: rgba(255, 255, 255, 0.555);

        @include media($xs-L...) {
            width: 12em;
        }
        @include media($sm...) {
            width: 14em;
           
        }
        @include media($md...) {
            width: 16em;
           
        }
        @include media($lg...) {
            width: 18em;
           
        }
    }
}

.hero-banner-text {
    color: $secondary-color;
    margin-top: 2em;
    background-color: rgba(255, 255, 255, 0.555);
    padding: 0.5rem;

    @include media($xs-L...) {
        font-size: 1.3em;
    }
    @include media($sm...) {
        font-size: 1.4em;
    }
    @include media($md...) {
        font-size: 1.5em;
    }
    @include media($lg...) {
        font-size: 1.6em;
    }

}

.credit {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.6rem;
    padding: 0.1rem;
}

