.brand-main-wrapper {
    text-align: center;
    margin-top: $margin-top;

    h2 {
        @include heading;

         @include media($sm...) {
            font-size: 1.4em;
         }
         @include media($md...) {
            font-size: 1.4em;
         }
         @include media($lg...) {
            font-size: 1.6em;
         }
    }
}

.brand-sub-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-row-gap: 1rem;

    @include media($xs-L...) {
        grid-template-columns: repeat(4, 1fr);
     }
     @include media($sm...) {
        grid-template-columns: repeat(4, 1fr);
     }
     @include media($md...) {
        grid-template-columns: repeat(4, 1fr);
     }
     @include media($lg...) {
        grid-template-columns: repeat(4, 1fr);
     }
}