.service-main-wrapper {
    text-align: center;
    margin-top: $margin-top;

    h2 {
        @include heading;

        @include media($sm...) {
            font-size: 1.4em;
         }
         @include media($md...) {
            font-size: 1.4em;
         }
         @include media($lg...) {
            font-size: 1.6em;
         }
    }
}

.service-sub-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    h4 {
        font-size: 0.8rem;
        border: $primary-color 2px dotted;
        padding: 0.4rem;
        margin: 0.4rem;
        color: rgb(80, 54, 30);

        @include media($xs-L...) {
            font-size: 1em;
         }
        @include media($sm...) {
            font-size: 1.1em;
         }
         @include media($md...) {
            font-size: 1.2em;
         }
         @include media($lg...) {
            font-size: 1.4em;
         }
    }
}